#
# HUAWEI MIGRATION CONFIG EXTRACT
# Source Vendor: juniper
#
# SECTION: INTERFACES
interface ge-0/0/0
 ip address 10.0.0.1 24
 traffic-filter inbound acl SERVER-IN
 undo shutdown
#
# SECTION: ACCESS LISTS
acl name SERVER-IN advance
#
