#
# HUAWEI MIGRATION CONFIG EXTRACT
# Source Vendor: mlx
#
# SECTION: VPN INSTANCES
ip vpn-instance RED
 ipv4-family
  route-distinguisher 1:1
  vpn-target 1:1 import-extcommunity
  vpn-target 1:1 export-extcommunity
#
# SECTION: INTERFACES
interface ethernet 1/1
 ip binding vpn-instance RED
 ip address 10.0.0.1 24
 traffic-filter inbound acl SERVER-IN
 undo shutdown
#
# SECTION: ACCESS LISTS
acl name SERVER-IN advance
 rule 5 permit tcp source any destination host 10.0.0.1 destination-port eq 80 logging
 rule 10 permit ip source any destination any
#
# SECTION: BGP VRF STANZAS
bgp <ASN_PLACEHOLDER>
 ipv4-family vpn-instance RED
  peer 10.0.0.2 remote-as 65001
#
