
vlan 10
 name Servers
#
ip vpn-instance RED
 ipv4-family
  route-distinguisher 1:1
  vpn-target 1:1 both
#
acl name SERVER-IN advance
 rule 5 permit tcp destination 10.0.0.1 0 destination-port eq 80 logging
 rule 10 permit ip
#
interface GigabitEthernet0/0/1
 description UPLINK
 ip binding vpn-instance RED
 ip address 10.0.0.1 24
 traffic-filter inbound acl SERVER-IN
 undo shutdown
#
bgp 65000
 ipv4-family vpn-instance RED
  peer 10.0.0.2 as-number 65001
#
ip route-static vpn-instance RED 0.0.0.0 0 10.0.0.254
